*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    border-size:border-box;
}
html
{
    scroll-behavior: smooth;
}
.black
{
    height: 2950;
    background-color: black;
}
.hero
{
    height: 900;
    background-image: url(n4.jpg);
    background-position: top right;
    background-size: 70%;
    background-repeat: no-repeat;
}
.input
{
    position: relative;
    top:500px;
    left: 200px;
}
.intro
{
    color: aliceblue;
    font-size: 45px;
    width: 400px;
}


